<div class="box">
  <table>
    <tr>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='0' buttonState=button0State}}</td>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='1' buttonState=button1State}}</td>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='2' buttonState=button2State}}</td>
    </tr>

    <tr>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='3' buttonState=button3State}}</td>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='4' buttonState=button4State}}</td>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='5' buttonState=button5State}}</td>
    </tr>

    <tr>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='6' buttonState=button6State}}</td>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='7' buttonState=button7State}}</td>
      <td>{{tac-button action="buttonClicked" currentTurn=currentTurn squareId='8' buttonState=button8State}}</td>
    </tr>
  </table>
</div>
